* {
    margin: 0;
    padding: 0;
}

.dad {
    display: flex;
    justify-content: flex-start;
}

.dad div {
    border: 2px solid red;
    width: 150px;
    padding: 20px;
}

.box1 {
    height: 120px;
}

.box2 {
    height: 100px;
}

.box3 {
    height: 40px;
    padding: 20px;
}

.box4 {
    height: 200px;
}